html, body {
    font-size: 16px;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

body {
    background: linear-gradient(to bottom, #fcf8eb, #e08100);
    background-attachment: fixed;
    height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  z-index: -10;
  text-align: center;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

li {
 list-style-type: none;
}
ul {
 margin: 0;
 padding: 0;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #8cb1e6 !important;
}

.navbar-dark {
    background: linear-gradient(to bottom, #6d89c4, #303086);
}

.headline {
    color: #343a40;
    text-align: center;
}

.alert {
    width: 100%;
    position: absolute;
}

.alert:hover {
    cursor: pointer;
}

#logoutLink {
    cursor: pointer;
}

.add-todo-button {
    margin-top: 100px;
    margin-bottom: 100px;
    background: linear-gradient(to top, #3d5da2, #4f7fb3);
    border-color: steelblue;
    color: white;
    height: 40px;
    width: 150px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.thead-row {
    background: linear-gradient(to top, #242381, #728bc3);
    min-height: 40px;
    padding-top: 5px;
    border: 1px solid #434961;
    line-height: 1.2;
}

.tmiddle-row {
    min-height: 40px;
    padding-top: 5px;
    background: linear-gradient(to top, #cacaca, #d9e0f0);
    box-shadow: 0 0 1px 0;
}

.task-row {
    padding-top: 5px;
    min-height: 40px;
    box-shadow: 0 0 1px 0;
}

.tasks-row:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.task-row:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.noTask-row {
    padding-top: 5px;
    min-height: 40px;
    box-shadow: 0 0 1px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 700;
}

.thead-row:hover .delete-todoList, .thead-row:hover .edit-todoList {
    opacity: 1;
    transition: opacity .3s;
}

.delete-todoList:hover, .edit-todoList:hover {
    color: #6d89c4;
}

.todolist_title {
    color: white;
    max-width: 30vw;
    word-wrap: break-word;
    font-size: 20px;
}

.delete-todoListSubmit {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

.delete-todoList, .edit-todoList {
    cursor: pointer;
    color: #8cb1e6;
    opacity: 0;
    transition: opacity .3s;
}

.delete-todoListForm {
    float: right;
}

.editTodoListForm {
    display: none;
}

.todoListTitleInput {
    width: 60%;
}

.edit-todoListSubmit {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

.fa-times {
    cursor: pointer;
    margin-left: 10px;
    color: red;
}

.fa-check {
    margin-left: 10px;
    color: lime;
}

.fa-plus {
    color: darkgreen;
}

.taskTitleInput {
    width: 100%;
}

.createTaskSubmit {
    float: left;
    height: 30px;
    width: 140%;
    margin-left: -30px;
    border-color: #22b852;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to top, darkgreen, #22c752);
}

.tasks-row {
    background: white;
}

.task-row:hover {
    background: #fff9bf;
}

.checkTask {
    cursor: pointer;
    vertical-align: middle;
}

.task_title {
    max-width: 90%;
    color: grey;
    font-size: 14px;
    font-weight: 500;
    word-break: break-all;
}

.sort-task, .edit-task, .delete-task {
    color: #8cb1e6;
    opacity: 0;
    transition: opacity .3s;
}

.edit-task {
    margin-left: 25%;
}

.task-row:hover .sort-task, .task-row:hover .edit-task, .task-row:hover .delete-task {
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s;
}

.sort-task:hover, .edit-task:hover, .delete-task:hover {
    color: #6d89c4;
}

.task_deadline {
    cursor: pointer;
    float: right;
    display: inline-block !important;
    max-width: 80%;
    color: grey;
    font-size: 14px;
    font-weight: 500;
}

.taskDeadlineForm {
    display: none;
}

.edit-TaskDeadlineSubmit {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

.delete-taskForm {
    float: right;
}

.delete-taskSubmit {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

.editTaskTitleForm {
    display: none;
}

.editTaskTitleInput {
    width: 60%;
}

.edit-taskSubmit {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

.btn-auth {
    background: linear-gradient(to top, #3d5da2, #4f7fb3);
    color: white;

}

#copyright {
    color: white;
}
